<h4>Welcome to KSP - the knowledge sourcing platform for self-learning developers </h4>
<h1>Select your language</h1>
<p>Source your knowledge from the languages below</p>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">SQL</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">JAVA</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">JAVASCRIPT</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/topics" class="languages-list">RUBY/RAILS</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">C#</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">PYTHON</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">C++</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">PHP</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">IOS</a></p>
</div>

<div class="language-box">
  <p class="languages-list"><a href="/" class="languages-list">PERL</a></p>
</div>
